@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

* {
    font-family: 'Sawarabi Mincho', serif;
}

body {
    text-align: center;
}

h1{
    margin: 20px auto;
}

hr {
    width: 480px;
}

#info-tab {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

#errors-tab {
    display: flex;
    flex-direction: row;
}

#errors-tab h3, #difficulty-tab h3{
    margin-right: 5px;
}

#difficulty-tab {
    display: flex;
    flex-direction: row;
}

#errors {
    color: red;
}

#board {
    width: 450px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#numbers {
    width: 450px;
    height: 50px;
    margin: 15px auto 5px auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px;
    height: 44px;
    border: 1px solid black;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.num-selected {
    background-color: gray;
}

.tile-initial {
    background-color: whitesmoke;
}

.horizontal-line {
    border-bottom: 1px solid black;
}

.vertical-line {
    border-right: 1px solid black;
}

#buttons {
    margin: 0 auto;
}

#buttons button {
    color: black;
    border: 1px solid black;
    height: 25px;
    cursor: pointer;
    background: transparent;
}